$primary-color: #e1eaef;
$primary-dark-color: #101826;
$accent-color: #ea8a97;
$accent-color2: #f4ad6d;
$text-color: #312b48;

$font-weights: (
  "regular": 300,
  "medium": 500,
  "bold": 700,
);

$font-sizes: (
  "parapraph": 17px,
  "heading": 36px,
  "second-heading": 27px,
  "third-heading": 22px,
);

$font-families: (
  "headings": "poppins",
  "text": "tahoma",
);

$mobile: 800px;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}